.mdContainer {
  width: 1000px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  background-color: beige;
  border: 2px solid #002127;
  border-radius: 5px;
  padding: 30px;
  align-items: center;
  box-shadow: 20px 20px rgb(184, 184, 184);
}
