.changeColorContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.changeColor {
    width: 100px;
    height: 50px;
    border: 1px solid #002127;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.changeColorBtn {
    width: 100px;
    height: 35px;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    color: #FFFFFF;

    &:hover {
        transform: scale(1.05);
    }
}




// .countBtn {
//     width: 100px;
//     height: 40px;
//     background-color: greenyellow;
//     border: 1px solid #002127;
//     border-radius: 5px;
//     cursor: pointer;
//     align-self: center;

//     &:hover {
//         transform: scale(1.05);
//     }
// }

// .countContainer {
//     width: 100px;
//     height: 50px;
//     border: 1px solid #002127;
//     background-color: #FFFFFF;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     grid-column: span 2;
// }