.corneredDivContainer {
    position: relative;
    grid-column: span 2;
    width: 100%;
    height: 200px;
    border: 1px solid #002127;
    background-color: #FFFFFF;
    padding: 30px;
    display: flex;
    align-items: end;
}

.corneredDiv {
    width: 150px;
    height: 80px;
    border: 1px solid #002127;
    background-color: #ffae0045;
}

.corneredDivBtn {
    width: 100px;
    height: 40px;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    color: #FFFFFF;

    &:hover {
        transform: scale(1.05);
    }
}