.input {
    width: 100%;
    padding: 15px;
    border: 1px solid #002127;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.524);
}

.submitInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.submitBtn {
    width: 100px;
    height: 40px;
    background-color: greenyellow;
    border: 1px solid #002127;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;

    &:hover {
        transform: scale(1.05);
    }
}

.inputText {
    cursor: pointer;
}

li {
    list-style-type: none;
    
}

ul {
    grid-column: span 2;
}