.input {
    width: 100%;
    padding: 15px;
    border: 1px solid #002127;
    border-radius: 5px;
    // background-color: rgba(128, 128, 128, 0.524);
    background-color: #FFFFFF;
}

.submitInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.inputText {
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    grid-column: span 2;
    padding: 0;
    margin: 0;
}