.countContainer {
    width: 100px;
    height: 50px;
    border: 1px solid #002127;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: span 2;
}