@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Itim', sans-serif;
  margin: 0 auto;
}

:root {
  padding: 30px;
}
