@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Itim', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 auto;
}

h2 {
  margin: 0;
}

:root {
  padding: 30px;
}
